extends layoutHome

block content
	h1 bpmn-server Workbench
	include includes/dashboardHeader.pug

	script(type="text/javascript").
		$( function() {
			$( "#tabs" ).tabs();
		} );


	div(id="tab13s")
		div(id="processes",style="border-bottom: solid;border-width: thin;")
			include includes/processes.pug
		//- div(id="tasks")
		//- 	include includes/tasks.pug
		//- div(id="engines")
		//- 	include includes/engines.pug
		div(id="instances")
			include includes/instances.pug

		div(id='footer',style="padding-bottom:20px;")
	
	
//- extends layout

//- block content
//-  div.container
//-    div.row
//-     div.col-sm-6.col-md-4.col-md-offset-4
//-      h1.text-center.login-title Sign in to our Passport app
//-       div.account-wall
//-         form(class='form-signin', action='/login', method='POST')
//-          input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
//-          input(type='password', name='password' class='form-control', placeholder='Password', required)
//-          button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
//-           span.clearfix
//-           a(href='/signup', class='text-center new-account') Create an account
//-           #message
//-           if message
//-            h1.text-center.error-message #{message}
//-         span message #{message}